body {
    background-color: black
  }
  .carousel-inner img {
    width: 1450px;
    height: 700px;
}  
  
  #ip1 {
    border-radius: 25px;
    text-align: center;
    background-color: #e0e0e0 ; 
    border-color: black;
    border-width: 1px;
     width: 350px; 
     height: 60px;
     font-weight: 500;
}

#prefinal{
  background-color:#27eccb; /* Green */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  color: black;
  width: 200px;
  border-color: black;
}

#foot{
  background-color: black;
  height: 500px;
}
#fill{
  margin-left: 700px;
}

#bg{
  background-image: url('../images/ex.jpg') ;

}
 